.product-container {
  margin-top: 60px;
  width: 100%;
  height: auto;
  padding: 20px;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.product {
  width: 30vw;
  height: 38vh;
  border: 1px solid black;
  text-align: center;
  padding: 15px;
  margin: auto;
}
.sorting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.sorting select {
  width: 20vw;
  height: 35px;
  font-size: 16px;
  padding: 0 10px 0 10px;
}
